




    <!-- RECORDING SESSION INFO -->
   <h1>search results page</h1>
   <button> <%= link_to 'back', artists_search_path%> </button>
    <p><% Artist.all.search(params[:q]).each do |j| %></p>
    <p><%= link_to "#{j.name.capitalize} show page", artist_path(j.id) %></p>
    <p><% end %></p>


    <p>
        <%= link_to 'New Session', new_recording_session_path %> |
        <%= link_to 'Create New Studio', new_studio_path %> |
        <%= link_to 'Create New Artist', new_artist_path %> |
        <%= link_to 'Create New Engineer', new_engineer_path %>
    </p>