<!-- USED in views/RecordingSessions/index -->

<!-- EDIT FORM -->
<!-- DISPLAY recording_session.ALL -->
<section class="main">

    <%= link_to 'logout', destroy_user_session_path, method: :delete %>


    <% if @artists.blank? %>
    <h2>There are currently no artists.</h2>
    <% else %>
    <h2>Current Artists</h2>
        <br>

        <table>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Cancel</th>
                    <th>Artist</th>
                       <th colspan="3"></th>
                </tr>
            </thead>

            <% @artists.each do |c| %>
            <div class="well">
                <tbody>
                    <tr>
                        <td><%= link_to c.id, recording_session_path(c)%></td>
                        <td><%= link_to c.name.capitalize, artist_path(c) %></a></td>
                        <td

                            <%= link_to "Delete", c, method: :delete, data: { confirm: 'Are you sure you want to delete this recording session?' } %>
                        </td>

                    </tr>

                    <% end %>
                </tbody>
        </table>
        </div>
        <p> <% end %> </p>

        <!-- END OF EDIT FORM -->

<!-- URL LINKS -->
<!-- URL LINKS -->

<br>
<p>
    <%= link_to 'Create New Session', new_recording_session_path %> |
    <%= link_to 'Create New Studio', new_studio_path %> |
    <%= link_to 'Create New Artist', new_artist_path %> |
    <%= link_to 'Create New Engineer', new_engineer_path %>
</p>
</td>

<!-- END OF EDIT FORM -->