<body>

    <!-- RECORDING SESSION INFO -->
    <div>
        <h2> Artist Information </h2>
        <h3> Artist: <%= @artist.name.capitalize %> <button><%= link_to 'Edit Artist', edit_artist_path %></button> </h3>
        <br>

        <% if @artist.recording_sessions.blank? %>
        <h2>There are currently no sessions scheduled.</h2>
        <% else %>
        <h2>Scheduled Sessions</h1>
            <br>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Session Date</th>
                        <th>Engineer</th>
                        <th>Studio</th>
                        <th>Location</th>
                        <th>Complete</th>
                        <th>Cancel</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <% @artist.recording_sessions.each do |c| %>
                <tbody>
                    <tr>
                        <td><%= link_to c.id, recording_session_path(c)%></td>
                        <td><%= link_to c.appointment_date.strftime("%A %B %eth %Y at%l:%M %P"), recording_session_path(c)%></td>
                        <td><%= link_to c.engineer.name.capitalize, engineer_path(c.engineer) %></a></td>
                        <td><%= link_to c.studio.name.capitalize, studio_path(c.studio)%></td>
                        <td><%= link_to c.studio.location.capitalize, studio_path(c.studio)%></td>
                        <td><%= c.status %></td>
                        <td><a
                                href="/artists/@artist_id"><%= link_to "Delete", c, method: :delete, data: { confirm: 'Are you sure you want to delete this recording session?' } %></a>
                        </td>

                    </tr>
                    <% end %>
                </tbody>
            </table>

            <p> <% end %> </p>

    <!-- URL LINKS -->

<br>
<p>
    <%= link_to 'New Session', new_artist_recording_session_path(@artist) %> |
    <%= link_to 'Create New Studio', new_studio_path %> |
    <%= link_to 'Create New Artist', new_artist_path %> |
    <%= link_to 'Create New Engineer', new_engineer_path %>
</p>

<td><a
        href="/artists/@artist_id"><%= link_to "Delete Artist", @artist, method: :delete, data: { confirm: 'Are you sure you want to delete this this studio?' } %></a> </p>
</td>

            <!-- END OF EDIT FORM -->