<!-- NEW FORM -->
<%= form_for @recording_session, url: {action: "create"} do |p| %>

<h2>Create a New Session</h2>
<h4>Use the dropdown menus below:</h4>
<br>
<%if @recording_session.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(@recording_session.errors.count, "error") %>
        prohibited this item from being saved:
        <% @recording_session.errors.full_messages.each do |msg| %>
    </h2>
    <ul style="list-style: none;">
        <li>
            <div class="alert alert-danger"><%= msg %></div>
        </li>
        <% end %>
    </ul>
    <%  end %>

    <h5>
        <%= select("recording_session", "studio_id", @studios.collect {|p| [ p.name, p.id] }, {prompt: 'Book Studio'}) %>
        <br>
        <br>
        <%= select("recording_session", "appointment_date", @recording_sessions.collect {|p| [ p.appointment_date] }, {prompt: 'Select Date and Time'}) %>

        <br>
        <br>
        <%= select("recording_session", "engineer_id", @engineers.collect {|p| [ p.name, p.id] }, {prompt: 'Assign Engineer'}) %>
        <br>
        <br>
        <%= select("recording_session", "artist_id", @artists.collect {|p| [ p.name, p.id] }, {prompt: 'Select Artist'}) %>

        <br>
        <br>

        <%= p.submit({:class => 'btn btn-primary'}) %>
        <% end %>
        </h4>
        <!-- END OF NEW FORM -->